In [2]:
#import packages
import pandas as pd
import os
import datetime 
import seaborn as sns
from matplotlib import dates as mpl_dates
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [3]:
#data preparation after webscraping data 
df = pd.read_csv("Combined.csv", index_col = 0)
df['Swim Time DT'] = pd.to_datetime(df['Swim Time'])
df['Bike Time DT'] = pd.to_datetime(df['Bike Time'])
df['Run Time DT'] = pd.to_datetime(df['Run Time'])
df['Total Time DT'] = pd.to_datetime(df['Total Time'])

df_am = df[(df['Sex'] != 'X') & (df['Sex'] != 'U' ) & (df['Age Group'] != 'PRO' ) & (df['Age Group'] != 'PC' )] #ameatur atheletes
df_am.head()

,Overall Rank,Gender Rank,Divison Rank,Name,Age Group,Nationality,Swim Time,Bike Time,Run Time,Total Time,Sex,Year,Swim Time DT,Bike Time DT,Run Time DT,Total Time DT
0,1,1,1,Martin Gallardo,25-29,ARG,00:29:20,02:12:53,01:25:14,04:13:3,M,2021,2022-07-19 00:29:20,2022-07-19 02:12:53,2022-07-19 01:25:14,2022-07-19 04:13:03
1,2,2,1,Brad Miles,30-34,USA,00:30:05,02:22:37,01:21:27,04:19:5,M,2021,2022-07-19 00:30:05,2022-07-19 02:22:37,2022-07-19 01:21:27,2022-07-19 04:19:05
2,3,3,2,Michael Chronert,25-29,USA,00:30:24,02:11:40,01:29:44,04:20:2,M,2021,2022-07-19 00:30:24,2022-07-19 02:11:40,2022-07-19 01:29:44,2022-07-19 04:20:02
3,4,4,3,William Derrick,25-29,USA,00:30:18,02:21:43,01:33:26,04:31:5,M,2021,2022-07-19 00:30:18,2022-07-19 02:21:43,2022-07-19 01:33:26,2022-07-19 04:31:05
4,5,5,1,Ryan Seguine,40-44,USA,00:30:31,02:17:03,01:39:23,04:35:1,M,2021,2022-07-19 00:30:31,2022-07-19 02:17:03,2022-07-19 01:39:23,2022-07-19 04:35:01

In [4]:
#convert to necessary datetime objects 

df_am['Swim Time Obj'] = df_am['Swim Time']/np.timedelta64(1, 'h')
df_am['Bike Time Obj'] = df_am['Bike Time']/np.timedelta64(1, 'h')
df_am['Run Time Obj'] = df_am['Run Time']/np.timedelta64(1, 'h')
df_am['Total Time Obj'] = df_am['Total Time']/np.timedelta64(1, 'h')

#df_am['Swim Time Obj'] = np.median(df_am['Swim Time'].dt.time)

quant_val_swim = df_am['Swim Time Obj'].quantile(q=[0.25, .75], interpolation = 'higher')

quant_val_bike = df_am['Bike Time Obj'].quantile(q=[0.25, .75], interpolation = 'higher')

quant_val_run = df_am['Run Time Obj'].quantile(q=[0.25, .75], interpolation = 'higher')


x25_swim = df_am.loc[df_am['Swim Time Obj'] == quant_val_swim[.25]].head(1) ['Swim Time DT']

x75_swim = df_am.loc[df_am['Swim Time Obj'] == quant_val_swim[.75]].head(1) ['Swim Time DT']

x25_bike = df_am.loc[df_am['Bike Time Obj'] == quant_val_bike[.25]].head(1) ['Bike Time DT']

x75_bike = df_am.loc[df_am['Bike Time Obj'] == quant_val_bike[.75]].head(1) ['Bike Time DT']

x25_run = df_am.loc[df_am['Run Time Obj'] == quant_val_run[.25]].head(1) ['Run Time DT']

x75_run = df_am.loc[df_am['Run Time Obj'] == quant_val_run[.75]].head(1) ['Run Time DT']


xmedian_s = np.median(df_am['Swim Time Obj'])

xmedian_swim = df_am.loc[df_am['Swim Time Obj'] == xmedian_s].head(1) ['Swim Time DT']

xmedian_b = np.median(df_am['Bike Time Obj'])

xmedian_bike = df_am.loc[df_am['Bike Time Obj'] == xmedian_b].head(1) ['Bike Time DT']

xmedian_r = np.median(df_am['Run Time Obj'])

xmedian_run = df_am.loc[df_am['Run Time Obj'] == xmedian_r].head(1) ['Run Time DT']

<ipython-input-4-91cc8dfe509e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_am['Swim Time Obj'] = df_am['Swim Time']/np.timedelta64(1, 'h')
<ipython-input-4-91cc8dfe509e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_am['Bike Time Obj'] = df_am['Bike Time']/np.timedelta64(1, 'h')
<ipython-input-4-91cc8dfe509e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_am['Run Time Obj'] = df_am['Run Time']/np.timedelta64(1, 'h')
<ipython-input-4-91cc8dfe509e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_am['Total Time Obj'] = df_am['Total Time']/np.timedelta64(1, 'h')

In [5]:
df_w1824 = df_am[(df_am['Sex'] == 'F') & (df_am['Age Group'] == '18-24' )]



#df_am['Swim Time Obj'] = np.median(df_am['Swim Time'].dt.time)

quant_val_w1824_swim = df_w1824['Swim Time Obj'].quantile(q=[0.25, .75], interpolation = 'higher')

quant_val_w1824_bike = df_w1824['Bike Time Obj'].quantile(q=[0.25, .75], interpolation = 'higher')

quant_val_w1824_run = df_w1824['Run Time Obj'].quantile(q=[0.25, .75], interpolation = 'higher')



x25_swim_w1824 = df_w1824.loc[df_w1824['Swim Time Obj'] == quant_val_w1824_swim[.25]].head(1) ['Swim Time DT']

x75_swim_w1824 = df_w1824.loc[df_w1824['Swim Time Obj'] == quant_val_w1824_swim[.75]].head(1) ['Swim Time DT']

x25_bike_w1824 = df_w1824.loc[df_w1824['Bike Time Obj'] == quant_val_w1824_bike[.25]].head(1) ['Bike Time DT']

x75_bike_w1824 = df_w1824.loc[df_w1824['Bike Time Obj'] == quant_val_w1824_bike[.75]].head(1) ['Bike Time DT']

x25_run_w1824 = df_w1824.loc[df_w1824['Run Time Obj'] == quant_val_w1824_run[.25]].head(1) ['Run Time DT']

x75_run_w1824 = df_w1824.loc[df_w1824['Run Time Obj'] == quant_val_w1824_run[.75]].head(1) ['Run Time DT']


xmedian_s_w1824 = np.median(df_w1824['Swim Time Obj'])

xmedian_swim_w1824 = df_w1824.loc[df_w1824['Swim Time Obj'] == xmedian_s_w1824].head(1) ['Swim Time DT']

xmedian_b_w1824 = np.median(df_w1824['Bike Time Obj'])

xmedian_bike_w1824 = df_w1824.loc[df_w1824['Bike Time Obj'] == xmedian_b_w1824].head(1) ['Bike Time DT']

xmedian_r_w1824 = np.median(df_w1824['Run Time Obj'])

xmedian_run_w1824 = df_w1824.loc[df_w1824['Run Time Obj'] == xmedian_r_w1824].head(1) ['Run Time DT']


df_w1824.head()

,Overall Rank,Gender Rank,Divison Rank,Name,Age Group,Nationality,Swim Time,Bike Time,Run Time,Total Time,Sex,Year,Swim Time DT,Bike Time DT,Run Time DT,Total Time DT,Swim Time Obj,Bike Time Obj,Run Time Obj,Total Time Obj
126,127,15,1,Isabella Lackner,18-24,USA,00:29:27,02:58:22,01:50:53,05:26:4,F,2021,2022-07-19 00:29:27,2022-07-19 02:58:22,2022-07-19 01:50:53,2022-07-19 05:26:04,0.490833,2.972778,1.848056,5.434444
148,149,21,2,Julie Pham,18-24,USA,00:36:53,02:40:29,02:05:39,05:32:3,F,2021,2022-07-19 00:36:53,2022-07-19 02:40:29,2022-07-19 02:05:39,2022-07-19 05:32:03,0.614722,2.674722,2.094167,5.534167
174,175,26,3,Aubrie Yarbrough,18-24,USA,00:30:05,03:01:30,01:57:38,05:37:3,F,2021,2022-07-19 00:30:05,2022-07-19 03:01:30,2022-07-19 01:57:38,2022-07-19 05:37:03,0.501389,3.025000,1.960556,5.617500
285,286,48,4,Annabella Farabaugh,18-24,USA,00:37:43,02:55:28,02:12:29,05:56:1,F,2021,2022-07-19 00:37:43,2022-07-19 02:55:28,2022-07-19 02:12:29,2022-07-19 05:56:01,0.628611,2.924444,2.208056,5.933611
304,305,53,5,Katherine Ahrens,18-24,USA,00:37:46,03:04:32,02:03:55,05:57:2,F,2021,2022-07-19 00:37:46,2022-07-19 03:04:32,2022-07-19 02:03:55,2022-07-19 05:57:02,0.629444,3.075556,2.065278,5.950556

In [10]:
#source: https://www.skytowner.com/explore/sorting_categorical_columns_in_pandas_dataframe#:~:text=The%20class%20column%20is%20a%20categorical%20with%20ordering,and%20set%20the%20ordering%20using%20the%20second%20parameter.

df_2021 = df_w1824[(df_w1824['Year'] == 2021) & (df_w1824['Sex'] == 'F') & (df_w1824['Age Group'] == '18-24')]

#df_2021 = df_2021['Divison Rank'].astype(int)

#df_2021_10 = df_2021[(df_2021['Divison Rank'] <= 10)]

df_long_as = pd.melt(df_2021, id_vars=['Name', 'Overall Rank', 'Gender Rank', 'Divison Rank'], value_vars=['Swim Time DT','Bike Time DT', 'Run Time DT', 'Total Time DT'])

df_long_as['variable'] = pd.Categorical(df_long_as['variable'], categories =["Swim Time DT", "Bike Time DT", "Run Time DT", 'Total Time DT'], ordered = True)
df_new = df_long_as.sort_values('variable')


df_long_as['value'] = pd.to_datetime(df_long_as['value'])
df_long_as['Divison Rank'] = df_long_as['Divison Rank'].astype(int)

In [15]:
#source: https://www.skytowner.com/explore/sorting_categorical_columns_in_pandas_dataframe#:~:text=The%20class%20column%20is%20a%20categorical%20with%20ordering,and%20set%20the%20ordering%20using%20the%20second%20parameter.

df_2021 = df_w1824[(df_w1824['Year'] == 2021) & (df_w1824['Sex'] == 'F') & (df_w1824['Age Group'] == '18-24')]

#df_2021 = df_2021['Divison Rank'].astype(int)

#df_2021_10 = df_2021[(df_2021['Divison Rank'] <= 10)]

df_long_as = pd.melt(df_2021, id_vars=['Name', 'Overall Rank', 'Gender Rank', 'Divison Rank'], value_vars=['Swim Time DT','Bike Time DT', 'Run Time DT', 'Total Time DT'])

df_long_as['variable'] = pd.Categorical(df_long_as['variable'], categories =["Swim Time DT", "Bike Time DT", "Run Time DT", 'Total Time DT'], ordered = True)
df_new = df_long_as.sort_values('variable')


df_long_as['value'] = pd.to_datetime(df_long_as['value'])
df_long_as['Divison Rank'] = df_long_as['Divison Rank'].astype(int)

df_long_as.rename(columns = {'Divison Rank':'Division_Rank'}, inplace = True)

df_long_as

,Name,Overall Rank,Gender Rank,Division_Rank,variable,value
0,Isabella Lackner,127,15,1,Swim Time DT,2022-07-19 00:29:27
1,Julie Pham,149,21,2,Swim Time DT,2022-07-19 00:36:53
2,Aubrie Yarbrough,175,26,3,Swim Time DT,2022-07-19 00:30:05
3,Annabella Farabaugh,286,48,4,Swim Time DT,2022-07-19 00:37:43
4,Katherine Ahrens,305,53,5,Swim Time DT,2022-07-19 00:37:46
...,...,...,...,...,...,...
99,Rayne Daniel,1340,290,22,Total Time DT,2022-07-19 07:54:01
100,Grace Thompson,1357,295,23,Total Time DT,2022-07-19 07:56:05
101,Kelsey Case,1466,323,24,Total Time DT,2022-07-19 08:18:01
102,Carly Turner,1468,324,25,Total Time DT,2022-07-19 08:18:01
103,Kate Callaghan,1491,336,26,Total Time DT,2022-07-19 08:22:01

In [17]:
df_am['experience'] = df_am.groupby('Name').size() # 3209 participants
# 1907 came back twice, that is almost 60 %

# add experience to the dataframe

df_am.drop("experience", axis=1, inplace=True)

df_am['experience'] = df_am.groupby('Name')['Name'].transform('count')

<ipython-input-17-a9b78da05327>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_am['experience'] = df_am.groupby('Name').size() # 3209 participants
C:\Users\snoejovich\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-17-a9b78da05327>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_am['experience'] = df_am.groupby('Name')['Name'].transform('count')